.dashboard-body-area{
    padding: 5px 180px;
}

@media only screen and (max-width: 1000px) {
    .dashboard-body-area {
        padding: 5px 20px;
    }   
}

.dashboard-body-area .container{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px rgb(197, 197, 197) solid;
    margin-top: 30px;
}

.dashboard-body-area .job-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-body-area .job-buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.dashboard-body-area .job-button{
    padding: 10px 30px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
}

.job-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 20px;
    gap: 20px;
}

.job-list .job-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px rgb(184, 184, 184) solid;
    padding: 20px 25px;
}
@media only screen and (max-width: 634px) {
    .job-list .job-card {
        width: 100%;
    }
}

.job-list .job-card .job-apply-button{
    padding: 10px 30px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background: #009235;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}