.dashboard-body-area {
    padding: 5px 180px;
}
@media only screen and (max-width: 1000px) {
    .dashboard-body-area {
        padding: 5px 20px;
    }
}
.dashboard-body-area .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .dashboard-body-area .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile{
    width: 30%;
}

@media only screen and (max-width: 1000px) {
    .profile {
        width:100%;
    }
}

.profile .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

}

.profile .title {
    color: grey;
    font-size: 18px;
}

.profile button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profile button:hover,
.profile a:hover {
    opacity: 0.7;
}


.my-job-posts{
    background-color: rgb(251, 251, 251);
    width: 70%;
    padding: 20px 30px;
    border: 1px rgb(169, 169, 169) solid;
    border-radius: 5px;
}

.my-job-posts .job-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}
@media only screen and (max-width: 634px) {
    .job-list .job-card {
        width: 100%;
    }
    .my-job-posts .job-list {
        display: flex;
        flex-direction: column;
    }
}

.my-job-posts .job-list .job-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px rgb(169, 169, 169) solid;
    border-radius: 5px;
    padding: 20px 25px;
    width: 300px;
}

@media only screen and (max-width: 584px) {
    .my-job-posts .job-list .job-card {
    width: 200px;
    }
}