* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .signup_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    flex-direction: column;
    padding-bottom: 10px;
    border: 2px solid #b1c7e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 30px;
  }
  
  .signup_form h1{
      padding-bottom: 30px;
  }
  
  .password {
    display: flex;
    padding-bottom: 15px;
  }
  
  .field{
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
  }
  
  .field input{
      font-size: 20px;
      padding: 5px;
  }
  
  
  .field label {
    min-width: 120px;
    font-size: 20px;
    font-weight: 400;
  
  }
  
  .password_eye {
    position: relative;
  }
  .password_eye i {
    position: absolute;
    right: 20px;
    top: 12px;
  }
  
  .button_submit input{
    padding: 8px 55px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: #007bff;
    color: #fff;
    border-radius: 6px; 
    cursor: pointer;
  }
  